# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/
env/
.env

# Fichiers de configuration de l'IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Fichiers temporaires
.cache
.pytest_cache/
.coverage
htmlcov/

# Fichiers spécifiques à Streamlit
.streamlit/watch-* 